html,
body {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
button {
    cursor: pointer;
}
label {
    margin: 0 !important;
}

/* ===================================  imports ========================= */
@import "./partials/_variables";
@import "./partials/_main";
@import "./partials/_commons";
@import "./partials/_buttons";
@import "./partials/_forms";
@import "./partials/_dropdown";
