<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test layout</title>
    <link rel="stylesheet" href="css/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <div class="left-side">
            <div class="left-side__header">
                <div class="left-side__row">
                    <button class="button w100" type="button">
                        <svg class="svg">
                            <use href="./icons/sprite.svg#user-icon"></use>
                        </svg>
                        <span>Sign In</span>
                    </button>
                </div>
                <div class="left-side__row">
                    <button class="button button--accent fg1" type="button">
                        <svg class="svg">
                            <use href="./icons/sprite.svg#user-icon"></use>
                        </svg>
                        <span>Overview</span>
                    </button>
                    <button class="button button--accent fs0 news-btn" type="button">
                        <svg class="svg">
                            <use href="./icons/sprite.svg#news-icon"></use>
                        </svg>
                    </button>
                </div>
                <div class="left-side__row">
                    <button class="button w100 unlock-btn" type="button">
                        <svg class="svg">
                            <use href="./icons/sprite.svg#key-icon"></use>
                        </svg>
                        <span>Unlock companies</span>
                    </button>
                </div>
            </div>
            <div class="left-side__main">
                <div class="search-filter-box">
                    <label class="search-icon" for="searchCompany">
                        <svg class="svg">
                            <use href="./icons/sprite.svg#search-icon"></use>
                        </svg>
                    </label>
                    <input class="form-input" id="searchCompany" type="text" placeholder="Search for companies">
                    <button class="clear-btn filter-btn" id="filterMenu" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <svg class="svg svg-hover-2">
                            <use href="./icons/sprite.svg#filter-icon"></use>
                        </svg>
                    </button>
                    <ul class="dropdown-menu list" aria-labelledby="filterMenu">
                        <li class="dropdown-item">
                            <label class="check">
                                <input class="check__input visually-hidden" type="radio" name="filterCompany"
                                    value="filter" id="">
                                <span class="check__box">
                                    <svg class="rect">
                                        <use href="./icons/sprite.svg#rect"></use>
                                    </svg>
                                    <!-- <svg class="rect-checked-2" *ngIf="filter==='All'">
                                            <use href="./icons/sprite.svg#rect-checked-2"></use>
                                        </svg>
                                        <svg class="rect-checked" *ngIf="filter!=='All'">
                                            <use href="./icons/sprite.svg#rect-checked"></use>
                                        </svg> -->
                                </span>
                                <span class="check__text">Filter Companies</span>
                            </label>
                        </li>
                    </ul>
                </div>


                <div class="companies-accordion-box">
                    <div class="accordeon__header" data-bs-toggle="collapse" data-bs-target="#collapseCompaniesList"
                        aria-expanded="true" aria-controls="collapseCompaniesList">

                        <h3>All (20)</h3>
                        <div class="toggle-icon">
                            <svg class="svg plus">
                                <use href="./icons/sprite.svg#plus-icon"></use>
                            </svg>
                            <svg class="svg minus">
                                <use href="./icons/sprite.svg#minus-icon"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="accordeon__body collapse show scrollbar scrollbar--2" id="collapseCompaniesList"
                        aria-labelledby="headingOne">
                        <div>
                            <ul class="list">
                                <li>
                                    <button class="clear-btn key-btn" type="button">
                                        <svg class="svg svg-hover-2">
                                            <use href="./icons/sprite.svg#key-icon"></use>
                                        </svg>
                                    </button>

                                    <div class="company-item">
                                        <div class="c-logo">
                                            <!-- <img src="{{filepath+'companiesLogo/'+company.logo}}" alt="company logo"> -->
                                        </div>
                                        <span>Company name</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas sequi, impedit minima earum
                odio molestias laudantium officia porro quasi nisi nesciunt harum. Voluptates beatae repudiandae dolore
                architecto sint deleniti mollitia? Totam vitae, quos asperiores ullam dolore debitis optio? At, dicta
                cupiditate sequi distinctio provident modi ex odio. Quos similique saepe molestiae necessitatibus
                sapiente et deserunt tenetur cum nulla eveniet! Magni vel vero distinctio dolore dolorem iste illo ex
                cum, voluptatem mollitia asperiores recusandae exercitationem enim corporis, et voluptatibus facilis
                molestiae. Repellat laudantium id recusandae, voluptatibus impedit atque, assumenda necessitatibus
                veniam quaerat, voluptatum vero inventore delectus. Rem ipsa aliquid in.
            </p>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>