html,
body {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
button {
    cursor: pointer;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-family: "Söhne", ui-sans-serif, system-ui, "-apple-system", "Segoe UI",
        "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif,
        "Helvetica Neue", Arial;
}
.left-side {
    flex-basis: 250px;
    background-color: #121212;
    padding: 8px;

    display: flex;
    align-items: center;
    gap: 12px;
}
.left-side .row {
    display: flex;
    align-items: center;
}
.right-side {
    background-color: #181818;
    flex-basis: calc(100% - 250px);
    padding: 8px 20px;
}
