/* utilites classes ------------------------------------------------- */
.w100 {
    width: 100%;
}
.fs0 {
    flex-shrink: 0;
}
.fg1 {
    flex-grow: 1;
}
.svg {
    color: inherit;
    width: 16px;
    height: 16px;
}

/* end utilites classes ------------------------------------------------- */
